@import "_search.scss";
$font-main: "Asap", sans-serif;
$font-second: "Josefin Slab", serif;
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-second;
  font-weight: 500;
}
body {
  background-color: green;
}

.header {
  font-size: 5.2rem;
  margin: 3rem auto;
  text-align: center;
}
.header-sub {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3.8rem;
  text-decoration: underline;
}
.stock-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  background-color: limegreen;
  margin: 1rem auto;
  padding: 3rem auto;
  align-items: center;
}

.name {
  color: #111;
  font-size: 5rem;
  border: 3px;
  border-radius: 30px;
  border-color: #111;
}

.traits {
  color: #111;
  display: flex;
  flex-direction: column;
  font-size: 3vh;
}
